@model MvcProducts.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiveDate" class="control-label"></label>
                <input asp-for="ReceiveDate" class="form-control" />
                <span asp-validation-for="ReceiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixDate" class="control-label"></label>
                <input asp-for="FixDate" class="form-control" />
                <span asp-validation-for="FixDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products" class="control-label"></label>
                <input asp-for="Products" class="form-control" />
                <span asp-validation-for="Products" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Send" class="control-label"></label>
                <input asp-for="Send" class="form-control" />
                <span asp-validation-for="Send" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErgasiaTexnikou" class="control-label"></label>
                <input asp-for="ErgasiaTexnikou" class="form-control" />
                <span asp-validation-for="ErgasiaTexnikou" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraParts" class="control-label"></label>
                <input asp-for="ExtraParts" class="form-control" />
                <span asp-validation-for="ExtraParts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChargeExtra" class="control-label"></label>
                <input asp-for="ChargeExtra" class="form-control" />
                <span asp-validation-for="ChargeExtra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChargeWork" class="control-label"></label>
                <input asp-for="ChargeWork" class="form-control" />
                <span asp-validation-for="ChargeWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChargeMethod" class="control-label"></label>
                <input asp-for="ChargeMethod" class="form-control" />
                <span asp-validation-for="ChargeMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
