@model MvcPromitheftes.Models.cPromitheftes

@{
    ViewData["Title"] = "Move";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="MovePromitheftes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- <input type="hidden" asp-for="ID" /> -->
            <div class="form-group">
                <label>Suppliers</label>
                <input asp-for="Promitheftes" class="form-control" />
                <span asp-validation-for="Promitheftes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Location" class="form-control" value="Προμηθευτές - Προς" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancel</a>
</div>

